.aui .portlet-body{
	font-size:12px;
}

.aui .headerGraph{
	/*height:80px;*/
	background:#5d4771 none repeat scroll 0 0;
	color:#ffffff;
	/*border-radius: 5px;*/
	padding-top:10px;
	padding-bottom:10px;
	z-index: 99999;
	foint-weight:bold;
}
.aui .boxGraph{

	/*background:yellow;*/
	/*height:190px;*/
}
.aui .boxGraph .contentGraph{
	
	background: #d2ddeb none repeat scroll 0 0;
    border: 5px solid #ff0;
    
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 160px;
    margin: 5px;
    padding: 5px;
    vertical-align:center;
    width: 205px;
	
}
.contentDonut{
	cursor: pointer;
}
.aui .boxGraph .areaGraph{
/*
	background:#d2ddea;
	border:5px #ffff00 solid;
	border-radius: 10px;
	margin:5px;
*/	
	
    margin-left: 18px;
    position: absolute;
	
}
.aui .donutChart{
	
	height: 200px;
    position: relative;
    top: -10px;
    width: 200px;
}
.aui .paramYearArea{
	
}
.aui .paramYearArea .paramYearText{
	float:left;
	width:100px;
	text-align:right;
	padding:5px;
	font-weight:bold;
}
.aui .paramYearArea .paramYear{
	float:left;
	width:70px;
	
}

.aui .paramMonthArea .paramMonthText{
	float:left;
	width:100px;
	text-align:right;
	padding:5px;
	font-weight:bold;
}
.aui .paramMonthArea .paramMonth{
	float:left;
	width:70px;
}

.aui .paramOrgArea .paramOrgText{
	float:left;
	width:123px;
	text-align:right;
	padding:5px;
	font-weight:bold;
}
.aui .paramOrgArea .paramOrg{
	float:left;
	width:353px;
}
.aui .btnSubmitArea{
	
	float: left;
    position: relative;
    top: -1px;
    width: 70px;
    
}
.aui .btnSubmitArea .btnSubmit{

	/*height:32px;*/
	padding:2px;
	padding-left:5px;
	padding-right:5px;
}
.aui .row-fluid [class*="span"]{
	margin-left: 0%;
}
.aui .signed-in.controls-visible .portlet-title{
	/*background:#45cbf5 none repeat scroll 0 0;*/
}
.aui .portlet-content, .aui .portlet-minimized .portlet-content-container{
	background-color: #fafafa;
}
.aui .btnRollbackArea{
	
	float: right;
    position: relative;
    right: -44px;
    width: 100px;
	
}
.aui #btnRollback{
	padding:3px;
	z-index: 99;
	position: absolute;
	/*display:none;*/
}


.areaNext{
	/*
    left: 18px;
    position: relative;
    */
     left: 100px;
    position: relative;
    top: -45px;
    width: 6px;
    z-index: 999;
}
.areaPrev{

    left: -10px;
    position: relative
}
.loading-indicator {
  height: 80px;
  width: 80px;
  background: url('/loading/dist/loading.gif') no-repeat center center;
}
.loading-indicator-overlay {
  background-color: #FFFFFF;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
