.aui h3{
	font-size: 15.5px;
}

.aui .portlet-body{
	font-size:12px;
}
.aui p {
    margin: 2px;
}


/*
.aui body{
	font-size:12px;
}
*/
.bgKpi{
	background:#b6b6b6;
	display:none;
}
.aui h3.titleKpi{
	color:#af7817;
	font-weight:bold;
	/*text-shadow: 0px 1px 0px #000;*/
	padding:10px;
	height:150px;
}
.aui p {
    margin: 5px;
}

.aui h1, .aui h2, .aui h3 {
    line-height: 25px;
   
}
.aui .portlet-content, .aui .portlet-minimized .portlet-content-container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eaeaea;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 1px 1px 1px;
}
.aui .titleGold{
	background:#5d4771;
	padding:5px;
	color:white;
}
.aui .titleGold .titleLeft{
 	float: left;
    padding: 5px;
    width: 465px;
    position: absolute;
     margin-left: 15px;
  
}
.aui .titleGold .titleRight{
 	float: right;
    padding: 5px;
    width: 323px;
    text-align:right;
    font-size: 13px;
}
.aui .subTitleGold{
	background:#eaeaea;
	padding:5px;
	color:#af7817;
	position: relative;
	display:none;
	height: 28px;
}
.aui .subTitleGold .subTitleLeft{
	 float: left;
    padding: 5px;
    width: 788px;
    position: absolute;
    
}
.aui .subTitleGold .subTitleRight{
	/*
	 float: right;
    padding: 5px;
    width: 323px;
    text-align:right;
    */
    float: right;
    left: 207px;
    padding: 5px;
    position: relative;
    text-align: right;
    width: 323px;
}

.aui .paramArea{
	background:#5d4771;
	padding: 5px 5px 5px;
	color:white;
}
.aui .paramArea .paramYearArea{
	width:200px;
	boder:1px solid red;
	float:left;
}
.aui .paramArea .paramMonthArea{
	width:176px;
	boder:1px solid red;
	float:left;
}
.aui .paramArea .paramOrgArea{
	width:440px;
	boder:1px solid red;
	float:left;

    padding: 5px 0 0;
    text-align: right;
}
	
	
.aui .paramArea .paramYearArea .yearLabel{
	width:84px;
	boder:1px solid red;
	padding: 10px 5px 5px;
	float:left;
	font-weight:bold;
	 text-align: right;
}
.aui .paramArea .paramYearArea .yearParam{
	float: left;
    
   
    width: 84px;
    padding: 5px;
}

.aui .paramArea .paramMonthArea .monthLabel{
	float: left;
    padding: 10px 5px 5px;
    text-align: right;
    width: 55px;
    font-weight:bold;
	
}
.aui .paramArea .paramMonthArea .monthParam{
	width:70px;
	boder:1px solid red;
	padding:5px;
	float:left;
	
}

.aui .paramArea .paramOrgArea .OrgLabel{
	width:84px;
	boder:1px solid red;
	padding: 5px;
	float:left;
	font-weight:bold;
	text-align: right;
	
}
.aui .paramArea .paramOrgArea .OrgParam{
	width:70px;
	boder:1px solid red;
	float:left;
	text-align: left;
	margin-left: 5px;
}
.aui .paramArea .paramSubmitArea{
	
	padding:2px;
	float:left;
	
}
.aui .paramArea .paramSubmitArea .btnSubmit{
	
	padding:2px;
	float:left;
	/*padding-top:0px;*/
	
}
.textPercentage{
	float:left;
	width:55px;
}
.sparkLineArea{
	float:left;
	width:40px;
	 margin-left: 2px;
}
.picturePerson{
	float:right;
	width:200px;
}
.mainText{
	/*
	font-size: 28px;
    line-height: 30px;
    margin-left: 91px;
    padding-top: 34px;
    text-align: center;
    */
    font-size: 25px;
    line-height: 30px;
    margin-left: 91px;
    padding-top: 20px;
    text-align: center;
    
}
.aui #breadcrumbs{
	margin-bottom: 0px;
}
 
.k-grid td{
	 padding: 0em 0em;
}
.textGrid{
	padding-left:4px;
	padding-right:4px;

}
.k-detail-row{
	
	border-top:1px solid  #FFFCF2;
	
}
.aui .ui-accordion-content{
	/*height:500px;*/
}
.aui .hasChild{
	display:none;
}
.aui .kpi_code{
	display:none;
}	
.textNumber{
	text-align:right;
}
.gridTable{
	height:auto;
}
.btnCommintInline{
	display:inline;
	cursor:pointer;
	font-size: 17px;
	color:gray;
	margin-left: 5px;
}

.aui h1, .aui h2, .aui h3{
	line-height: 18px;
}



.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-dialog .ui-dialog-content{
	padding: 0px;
}
.ui-dialog .ui-dialog-buttonpane{
	padding: 0px;
}
#dialog-comment{
	display:none;
}


